<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
    <package name="jungkosta.trade.domain"/> <!-- domain 패키지 안의 클래스들이 typealias로 잡힘 -->
    <!-- <package name="jungkosta.main.domain"/>
    <package name="jungkosta.auction.domain"/> -->
  </typeAliases>


</configuration>

