<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>

    <package name="jungkosta.trade.domain"/>
    <package name="jungkosta.auction.domain"/>
    <package name="jungkosta.main.domain"/> 
  </typeAliases>


</configuration>

