<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungkosta.main.mappers.auction.AuctionPurchaseMapper">

	<insert id="insertAuctionPurchase" parameterType="BidVO">
		insert into bid
		(
			bid_id, bidding_id, payment_method, del_address, bid_status,
			total_cost, purchase_deadline, purchase_date
		) values (
			#{bid_id}, #{bidding_id}, #{payment_method}, #{del_address},
			#{bid_status}, #{total_cost}, sysdate + 3, sysdate
		)
	</insert>

	<update id="endAuction" parameterType="int">
		update auction_register
		set auction_end_status = 'true'
		where autcion_id = #{auction_id}
	</update>

	<update id="updateSale_status" parameterType="int">
		update sale set
		sale_status = '거래중'
		where sale_id = #{sale_id}
	</update>

	<select id="selectBid_id" resultType="Integer">
		select max(bid_id) from bid
	</select>

	<select id="readBid" resultType="BidVO">
		select * from bid where
		bidding_id = #{bidding_id}
	</select>

	<delete id="deleteBidding">
		delete from auction_bidding
		where bidding_id =
		#{bidding}
	</delete>

	<update id="updateSale_cost" parameterType="java.util.Map">
		update sale set
		item_cost = bidding_fn(#{auction_id})
		where
		sale_id = #{sale_id}
	</update>
	
	<select id="readAucAndBid" parameterType="int" resultType="AucAndBidVO">
		select * from auc_bid_view
		where sale_id = #{sale_id}
	</select>
	
</mapper>