<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungkosta.main.mappers.auction.AuctionMapper">


	<insert id="insertAuction" parameterType="AuctionVO">
		insert into
		auction_register
		(
		autcion_id, auction_stcost, immediate_bid_cost,
		register_date, auction_end_date,
		auction_end_status, sale_id
		) values
		(
		#{auction_id}, #{auction_stcost}, #{immediate_bid_cost}, sysdate,
		#{auction_end_date}, #{auction_end_status}, #{sale_id}
		)
	</insert>


	<insert id="insertSale" parameterType="AuctionVO">
		insert into sale
		(
		sale_id,
		item_name, item_cost, buy_time, item_status, item_scratch,
		additional_info,
		buy_info, sale_date, email, subca_id, flag, item_pic1,
		item_pic2, item_pic3,
		item_pic4
		) values
		(
		#{sale_id}, #{item_name},
		#{item_cost}, #{buy_time}, #{item_status}, #{item_scratch},
		#{additional_info},
		#{buy_info}, sysdate, #{email}, #{subca_id},
		#{flag}, #{item_pic1}, #{item_pic2},
		#{item_pic3}, #{item_pic4}
		)
	</insert>

	<select id="selectAuction_id" resultType="Integer">
		select max(autcion_id)
		from auction_register
	</select>

	<select id="selectSale_id" resultType="Integer">
		select max(sale_id) from
		sale
	</select>

	<select id="read" resultType="AuctionVO">
		select * from auctionlist_view
		where sale_id = #{sale_id}
	</select>

	<select id="selectCategory" resultType="CategoryVO">
		select * from
		category_view
		where subca_id = #{subca_id}
	</select>

	<select id="auctionList" parameterType="java.util.Map"
		resultType="AuctionVO">
		select * from auctionlist_view
		<choose>
			<when test="sort == 'add_sort'.toString()">
				order by sale_date desc
			</when>
			<when test="sort == 'end_sort'.toString()">
				order by auction_end_date
			</when>
		</choose>

	</select>

	<update id="updateItemCost" parameterType="AuctionVO">
		update sale set item_cost = #{item_cost}
				where sale_id=#{sale_id}
	</update>
	
	<update id="updateAuctionSt" parameterType="AuctionVO">
		update auction_register set auction_stcost = #{auction_stcost}
				where sale_id=#{sale_id}
	</update>


</mapper>