.member_info table {
	border-top: 1px solid;
	border-bottom: 2px solid;
}

.member_info table tr td:nth-child(1) {
	background-color: #EEEEEE;
}

#payment_info table{
	border-top: 2px solid;
	border-bottom: 2px solid;
}

#payment_info tr td {
	padding-right: 20px;
}

#payment_info table tr td:nth-child(2) {
	background-color: #EEEEEE;
}

#payment_info table tr th:nth-child(2) {
	background-color: #EEEEEE;
}

#product_cost {
	font-size: 15px;
	font-weight: bold;
}

#total_cost {
	font-size: 20px;
	font-weight: bold;
	color: red;
}

.point {
	font-size: 12px;
	font-weight: bold;
	color: blue;
}

#payment_btn {
	padding-right: 150px;
}

#payment_date td:nth-child(1){
	border-right: 1px solid;
}

#item_info th{
	text-align: center;
	
}