<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungkosta.mappers.trade.TradePurchaseMapper">

	
	<insert id="insertPurchase" parameterType="PurchaseVO">
		insert into Purchase(
		PURCHASE_ID,PURCHASE_COST,PAYMENT_METHOD,PURCHASE_DATE,
		EMAIL,SALE_ID,PURCHASE_DEADLINE, PURCHASE_STATUS
		)values(#{purchase_id}, #{purchase_cost}, #{payment_method}, sysdate, #{email}, 
			#{sale_id}, sysdate +1, #{purchase_status})
	</insert>
	
	<select id="selectP_id" resultType="Integer">
		select max(purchase_id) from purchase
	</select>
	

</mapper>