.col-md-6 {
	padding-left: 5em;
	padding-top: 4em;
}

#list_title_lsj {
	font-size: 22px;
}

#subtitle_lsj {
	padding-left: -6em;
	font-size: 18px;
}

.col-md-5 {
	padding-left: -3em;
}

#last_btn_lsj {
	padding-left: 15em;
}

#top_lsj {
	font-size: 30px;
	padding-left: 5em;
}

.table {
	table-layout: fixed;
	width: 500px;
}

.active {
	width: 120px;
	text-align: center;
}

#bid_btn_lsj {
	padding-left: 15em;
}

#bid_border_lsj {
	border: 1px solid #00BFFF;
}

#close_btn_lsj {
	padding-left: 16em;
}

.hide {
	display: none;
}

.category_list_phw{
	text-align: center;
}

.category_list_phw option{
	text-align: center;
	padding-top: 10px;
	height:30px;
}

#alarm{
	text-align:center;
	margin-top: 24.5px;
}

