<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungkosta.mappers.main.MainMapper">

	<select id="hotItem" resultType="SaleVO">
	</select>
	
	<select id="newItem" resultType="SaleVO">
		select * from sale order by sale_id desc
	</select>
	<!-- 2016/12/01 우성 추가 -->
	<select id="purchaseList" parameterType="String" resultType="PurchaseListVO">
		select s.item_pic1,s.item_name ,p.purchase_cost ,p.purchase_deadline,s.sale_id,s.email
		from purchase p, sale s
		where p.email = #{email} and p.sale_id = s.sale_id and p.payment_method = '무통장입금'
	</select>
	
	<select id="auctionList" parameterType="String" resultType="AuctionListVO">
		
		select s.item_pic1, s.item_name, s.email, b.purchase_deadline, s.sale_id 
		from auc_bid_view ac, sale s, auction_bidding ab, bid b
		where ac.sale_id = s.sale_id and 
		ab.bidding_id = ac.bidding_id and
		b.bid_id = ac.bid_id and
		ab.email = #{email}
		
	</select>
	<!-- 종료 -->
</mapper>