<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungkosta.mappers.main.MainMapper">

	<select id="hotItem" resultType="SaleVO">
	</select>
	
	<select id="newItem" resultType="SaleVO">
		select * from sale order by sale_id desc
	</select>
</mapper>