<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jungkosta.mappers.main.memberMapper">
	<insert id="createMember" parameterType="MemberVO">
		insert into member(
			email, password, name, address, phone_num, question, answer, account_num,
			point, grade, interests_1, interests_2, interests_3, resident_id, warning_num, bank_name 
		) values(
			#{email}, #{password}, #{name}, #{address}, #{phone_num}, #{question}, #{answer}, #{account_num}, 
			0, 0, #{interests_1}, #{interests_2}, #{interests_3}, #{resident_id}, 0, #{bank_name}
		)
	</insert>
	
	<select id="selectMember" parameterType="String" resultType="MemberVO">
		select * from member where email = #{email}
	</select>
 
</mapper>  

