<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungkosta.mappers.main.MyPageMapper">

	<select id="readMyAucPur" parameterType="String" resultType="AucPurVO">
		select * from auc_pur_view
			where email = #{email}
	</select>
	
	<select id="readMyAucSale" parameterType="String" resultType="AucAndSaleVO">
		select * from AucAndSale_view
		where email = #{email}
	</select>
	
	<select id="bestBiddingCost" parameterType="int" resultType="int">
		select bidding_fn(#{auction_id}) from dual
	</select>

</mapper>